<!-- header.component.html -->
<header>
    <div class="logo">
      <h1>My App</h1>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/movies">Filmes</a></li>

        <li><a routerLink="/users">Usuários</a></li>

      </ul>
    </nav>
    <div class="user-actions">
      <li *ngIf="isAuthenticated"><button (click)="logout()">Logout</button></li>
    </div>

  </header>
