<div class="register-container">
  <form class="register-form" (submit)="register($event)">
    <h2>Register</h2>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" [(ngModel)]="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Register</button>
    <p>Já tem uma conta? <a href="/login">Login</a></p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
</div>
