<div class="movie-list">
    <div class="row" *ngFor="let row of getRows()">
      <div class="col-2" *ngFor="let movie of row">
        <div class="movie-card">
          <h2>{{ movie.title }}</h2>
          <img [src]="movie.poster_path" alt="{{ movie.title }}">
        </div>
      </div>
    </div>
    <div class="pagination">
      <button (click)="prevPage()">Anterior</button>
      <button (click)="nextPage()">Próxima</button>
    </div>
  </div>
  