.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-2 {
  width: calc(20% - 20px); /* Adjust as needed */
  margin: 10px;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}
