<div class="user-list-container">
  <h2>Lista de Usuários</h2>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="editUser(user)">Editar</button>
          <button (click)="deleteUser(user)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedUser">
    <h3>Editar Usuário</h3>
    <form (submit)="updateUser()">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" [(ngModel)]="selectedUser.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" [(ngModel)]="selectedUser.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" [(ngModel)]="selectedUser.password" name="password" required>
      </div>
      <button type="submit">Atualizar</button>
      <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>
</div>
