<div class="login-container">
  <form class="login-form" (submit)="login()">
    <h2>Login</h2>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email"  placeholder="Digite seu email" required>
      <p *ngIf="emailInvalid" class="error-message">Email inválido!</p>

    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password"  [(ngModel)]="password"placeholder="Digite sua senha" required>
      <p *ngIf="passwordInvalid" class="error-message">Senha inválida!</p>

    </div>
    <button type="submit">Entrar</button>
    <p>Não tem uma conta? <a href="/register" (click)="goToRegister()">Registrar-se</a></p>
  </form>
</div>
